.component-artic-list {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 36px;
    overflow-x: hidden;

    li {
        border-bottom: solid #ADADAD 0.013333rem;
        list-style: none;

        .list-dom {
            height: 100%;
            width: 100%;
            text-decoration: none;
            color: #333;

            .artic-content {
                width: 98%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: left;
                padding-left: 6%;
                .userImg{
                    padding-top: 0.3rem;
                    font-size: 0.533333rem;
                    font-weight: bold;
                    img {
                        width: 1.2rem;
                        height: 1.2rem;
                        border-radius: 50%;
                    }
                }
                .author{
                    width: 100%;
                    font-size: 0.38rem;
                    padding-top: 0.133333rem;
                    margin-left: 0.5rem;
                    .title {
                        width: 90%;
                        font-size: 0.4rem;
                        font-weight: bold;
                    }
                    .authorname{
                        width: 15%;
                    }
                    .publishtime{
                        font-size: 0.213333rem;
                        color: #ADADAD;
                    }
                    .publishtxt{
                        margin-left: 4%;
                    }
                }
            }
            .oparatenum{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                font-size: 0.32rem;
                color: #ADADAD;
                text-align: center;
                img {
                    height: 0.4rem;
                    width: 0.4rem;
                    margin-right: 0.3rem;
                }
                div {
                    width: 33%;
                    padding-bottom: 0.1rem;
                }
                .hasborder {
                    border-right: #ADADAD 1px solid;
                }
            }
        }
    }
}